body {
	margin: 0 auto;
	padding: 0;
	font-family: $main-font;
	width: 100%;
	background: $body-background;
	color: $font-color;
}
#wrapper {
	width: 100%;
	margin: 0 auto;
}
.center {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	@include clearfix;
	padding: 0 15px;
}
