.section-headers {
	width: 40%;
	margin: 0 auto;
	padding: 30px 0;
	text-align: center;
	h1 {
		color: $header-color;
		font-size: 28px;
	}
	img {
		padding: 10px;
		max-width: 300px;
		width: 100%;
	}
	p {
		color: $description-color;
		font-size: 15px;
		line-height: 1.2;
	}
}
#container {
	background-image: url("../img/img-home-banner-bg.jpg");
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	#pulsing-brain {
		padding: 70px 0;
		img {    
			-webkit-animation: img 3s linear infinite;
			-moz-animation: img 3s linear infinite;
			-ms-animation: img 3s linear infinite;
			animation: img 3s linear infinite;
		}

		@keyframes "img" {
			0% {
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-o-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1);
			}
			50% {
				-webkit-transform: scale(0.8);
				-moz-transform: scale(0.8);
				-o-transform: scale(0.8);
				-ms-transform: scale(0.8);
				transform: scale(0.8);
			}
			100% {
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-o-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1);
			}

		}

		@-moz-keyframes img {
			0% {
				-moz-transform: scale(1);
				transform: scale(1);
			}
			50% {
				-moz-transform: scale(0.8);
				transform: scale(0.8);
			}
			100% {
				-moz-transform: scale(1);
				transform: scale(1);
			}

		}

		@-webkit-keyframes "img" {
			0% {
				-webkit-transform: scale(1);
				transform: scale(1);
			}
			50% {
				-webkit-transform: scale(0.8);
				transform: scale(0.8);
			}
			100% {
				-webkit-transform: scale(1);
				transform: scale(1);
			}

		}

		@-ms-keyframes "img" {
			0% {
				-ms-transform: scale(1);
				transform: scale(1);
			}
			50% {
				-ms-transform: scale(0.8);
				transform: scale(0.8);
			}
			100% {
				-ms-transform: scale(1);
				transform: scale(1);
			}
		}
	}
	#header-content {
		position: absolute;
		width: 100%;
		top: calc(50% - 71px);
		h1 {
			margin: 0 auto;
			width: 45%;
			font-size: 28px;
		}
		#author {
			padding: 15px 0;
		}
	}
}

#service {
	#services {
		@include clearfix;
		li {
			text-align: center;
			width: 25%;
			float: left;
			padding: 10px 20px;
			margin-bottom: 20px;
			h1 {
				color: $main-color;
				margin: 10px 0;
				font-size: 20px;
			}
			p {
				color: $description-color;
				padding: 0 30px;
				font-size: 16px;
				min-height: 50px;
			}
			img {
				max-width: 80px;
			}
		}
	}
}

#quiz {
	background-image: url("../img/quiz-background.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	padding-bottom: 40px;
	text-align: center;
	border-bottom: 2px solid $main-color;
	#quizes {
		li {
			@include clearfix;
			margin-bottom: 30px;
			img {
				border-radius: 50%;
				float: left;
				max-width: 12%;
			}
			&:nth-child(even) img {
				float: right;
			}
			div {
				float: left;
				max-width: 83%;
				margin-left: 5%;
				h1 {
					color: $header-color;
					margin-top: 25px;
					margin-bottom: 15px;
					text-align: left !important;
				}
				p {
					color: $description-color;
					text-align: left !important;
					line-height: 1.3;
				}	
			}
			&:nth-child(even) div {
				margin-left: 0;
				margin-right: 5%;
			}
		}
	}
	a {
		text-align: center;
		color: $main-color;
		padding: 10px 45px;
		background: $body-background;
		border: 1px solid;
		border-radius: 15px;
		font-size: 22px;
		letter-spacing: .5px;
	}
}

#professional {
	#professionals{
		@include clearfix;
		text-align: center;
		max-width: 1000px;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 100px;
		li {
			float: left;
			width: 20%;
			display: flex;
			flex-direction: column;
			flex-basis: 20%;
			justify-content: center;
			border-bottom: 3px solid $main-color;
			box-shadow: 0px 0px 11px 3px #D1D1D1;
			-webkit-box-shadow: 0px 0px 11px 3px #D1D1D1;
			-moz-box-shadow: 0px 0px 11px 3px #D1D1D1;
			-o-box-shadow: 0px 0px 11px 3px #D1D1D1;
			&:hover {
				.expert {
					background: $main-color;
					-webkit-transition: background .25s linear;
					-moz-transition: background .25s;
					-ms-transition: background .25s;
					-o-transition: background .25s;
					transition: background .25s;
				}
			}
			.expert-img {
				background-image: url("../img/doct.jpg");
				min-height: 230px;
				background-repeat: no-repeat;
				background-position: center;
				background-size:cover;
			}
			&:nth-child(1) {
				transform: scale(0.8) translateX(-2%);
			}
			&:nth-child(2) {
				transform: scale(1) translateX(-11%);
			}
			&:nth-child(3) {
				transform: scale(1.2);
			}
			&:nth-child(4) {
				transform: scale(1) translateX(11%);
			}
			&:nth-child(5) {
				transform: scale(0.8) translateX(2%);
			}
			.expert {
				min-height: 150px;
				flex-basis: auto;
				flex: 1 0 auto;
				flex-direction: inherit;
				h1 {
					color: $main-color;
					padding: 15px 10px;
				}
				p {
					color: $description-color;
					padding: 0 10px;
				}
			}
		}
	}
}