#footer {
	background: #1c1c1c;
	padding: 30px;
	#footer-content {
		>li {
			float: left;
			width: 30%;
			text-align: center;
			&:nth-child(2) {
				margin: 0 5%;
			}
			h1 {
				color: $main-color;
				font-size:20px;
			}
			p {
				padding: 15px;
				line-height: 1.3;
				font-size: 16px;
			}
			li {
				padding: 7px 0;
				font-size: 16px;
				a {
					color: $font-color;
				}
				&:first-child {
					padding-top: 15px;
				}
				img {
					max-width: 40px;
					margin: 0 10px;
				}
			}
		}
	}
}