#header {
	@include clearfix;
	position: absolute;
	z-index: 100;
	padding: 15px 40px;
	width: 100%;
	a {
		color: $font-color;
	}
	#logo {
		float: left;
		width: 20%;
		padding: 7px 0;
	}
	#menu {
		float: left;
		width: 60%;
		ul {
			text-align: center;
			padding: 7px 0;
			li {
				display: inline-block;
				padding: 0 20px;
				font-size: 17px;
			}
		}
	}
	#login {
		float: right;
		width: 20%;
		ul {
			@include clearfix;
			li {
				float: right;
				padding: 7px 23px;
				border: 1px solid;
				margin-left: 20px;
				border-radius: 15px;
				cursor: pointer;
				font-size: 14px;
			}
		}
	}
}