/* Reset */
html, body, div, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

blockquote {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

input[type="search"]::-webkit-search-decoration, #contact .contact-form textarea[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, #contact .contact-form textarea[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, #contact .contact-form textarea[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration, #contact .contact-form textarea[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Webkit style*/
html {
  -webkit-text-size-adjust: none;
}

body, html, form, button, input, #contact .contact-form textarea, select, textarea {
  -webkit-appearance: none !important;
}

body, html, form, button, input, #contact .contact-form textarea, textarea {
  -webkit-border-radius: 0;
}

input[type="radio"], #contact .contact-form textarea[type="radio"] {
  -webkit-appearance: radio !important;
  -webkit-border-radius: 50px !important;
}

input[type="checkbox"], #contact .contact-form textarea[type="checkbox"] {
  -webkit-appearance: checkbox !important;
  -webkit-border-radius: 5px !important;
}

* {
  box-sizing: border-box;
}