@font-face { font-family: Myriad; src: url('../fonts/MyriadPro-Regular.otf'); } 

$main-font: 'Myriad', sans-serif;

$main-color: #91c34b;
$body-background: #ffffff;
$font-color: #ffffff;
$header-color: #000000;
$description-color: #828282;